:root {
    --rosita       : #ef96f7;
    --anchoPantalla: 120rem;
    --gris         : #757575;
}


html {
    font-size : 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-size  : 1.6rem;
    line-height: 2;
}

.webp .banner-index {
    background-image   : url(../img/GALA.webp);
    height             : 100vh;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
    width              : 100%;
}

.no-webp .banner-index {
    background-image   : url(../img/GALA.png);
    height             : 100vh;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
    width              : 100%;
}

/**  GLOBALES   **/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

li,
ul {
    list-style: none;
}

/* Utilidades */

.mayusculas {
    text-transform: uppercase;
}

.contenido-centrado {
    max-width: 40rem;
    margin   : auto auto;
}

.centrar-texto {
    text-align: center;
}
 
.margin-tb {
    margin: 5rem auto;
}

.numP {
    -moz-border-radius   : 50%;
    -webkit-border-radius: 50%;
    border-radius        : 50%;
    border               : 1px solid gray;
    height               : 3rem;
    width                : 3rem;

}

.numP span {
    display   : block;
    text-align: center;
    height    : 100%;
    margin    : auto auto;
}

.centrar-imagen-V {
    height: 100%;
    /* CHECAR*/
}

.videoTabla {
    max-width: 30%;
}


.ocultarInicio {
    visibility: hidden;
}

/* PARTICULARES */

.descripcion-header,
p.descripcion-header {
    color: #d0b3c7;
}

.img-audio,
.img-video {
    max-width: 80%;
    padding  : 3rem;

}

.inComentario {
    width : 80%;
    height: 50%;
}

div.loading {
    display         : none;
    position        : absolute;
    width           : 100%;
    height          : 100vh;
    z-index         : 100000000;
    background-color: rgba(255, 255, 255, 0.74);
    display         : flex;
    justify-content : center;


}

img.loading {
    display: none;
    margin : 0 auto;
}

/* A L E R T A S */

p.error-credenciales {
    color           : white;
    position        : absolute;
    font-size       : 3rem;
    margin          : 0 auto;
    text-align      : center;
    background-color: red;
    width           : 100%;
    margin-top      : 12rem;
    z-index         : 1000000000000;
}

.alert {
    text-align: center;
    margin-top: 2rem;
}

.mensajes {
    z-index   : 1000000000000000000;
    text-align: center;
}


/* NAV-PRINCIPAL*/

.logo-menu {
    margin    : 1rem 0;
    min-height: auto;
}

.contenedor-menu {
    max-width: 85%;
    margin   : 0 auto;
}

.contenedor-nav div {}

#main-nav {
    width: 100;
}

.redes-busqueda-tienda a {
    font-size: 2.3rem;
}

.nav-link {
    color: var(--gris);
}


/** ENCABEZADO **/

h2.presentacion {
    font-size: 8rem;
    color    : white;
}

.col-md-6 h4 {
    font-size: 2rem;
    color    : rgba(255, 255, 255, 0.781);
}

.col-md-6 p {
    color: rgba(255, 255, 255, 0.5);
}

.efectito {
    display            : block;
    position           : absolute;
    top                : auto;
    left               : 0;
    width              : 100%;
    height             : 100%;
    content            : ' ';
    z-index            : 2;
    backface-visibility: hidden;
}

div.hero {
    background-image     : url(../img/index/banner/ban.jpg);
    background-attachment: scroll;
    height               : 100vh;
    background-position  : center;
    background-size      : cover;
}


.contenido-header {
    margin : 5rem 0;
    z-index: 100000;
}


@media (min-width: 768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

/*Iconos del Header*/
.site-header .iconify {
    color    : white;
    font-size: 5rem;
}

/* Botoncito transcriptor*/

.btn-alumno,
.btn-transcriptor {
    -webkit-border-radius: 28;
    -moz-border-radius   : 28;
    border-radius        : 28px;
    font-size            : 1.7rem;
    margin               : 4rem 0;
    padding              : 1rem 3rem;
}

@media (max-width: 768px) {

    .btn-alumno,
    .btn-transcriptor {
        margin: 6rem 0;
    }

}


.btn-transcriptor {
    background-color: var(--rosita) !important;
    border-color    : var(--rosita) !important;
}

/* Login */
.flex {
    display        : flex;
    justify-content: center;
    gap            : .5rem;
}

.font-2rem {
    font-size: 1.7rem;
}

.btn-modificado {
    border-radius: .5rem;
    padding      : 1rem 2rem;
    width        : 100%;
}

/* LOGIN AND REGISTRO */
.IMGlogReg {
    margin: 0 auto;
    width : 50%;
}


/* SUBIR CERTIFICADO */
/* Estilo del área del input[file] */
.drag-drop {
    height          : 8em;
    width           : 8em;
    background-color: #ccc;
    border-radius   : 4em;
    text-align      : center;
    color           : white;
    position        : relative;
    margin          : 0 auto 1em;
}

.drag-drop span.desc {
    display  : block;
    font-size: .7em;
    padding  : 0 .5em;
    color    : #000;
}

input[type="file"] {
    height  : 10em;
    opacity : 0;
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    z-index : 3;
}

/* Estilo del área del input[file] con :hover */

.drag-drop:hover,
input[type="file"]:hover {
    background-color: #3276b1;
    cursor          : pointer;
}

.drag-drop:hover span.desc {
    color: #fff;
}

.drag-drop:hover .pulsating {
    animation                  : pulse1 1s linear infinite;
    animation-direction        : alternate;
    -webkit-animation          : pulse1 1s linear infinite;
    -webkit-animation-direction: alternate;
}

/* Composición del icono de Upload con FontAwesome */
.fa-stack {
    margin-top: .5em;
}

.fa-stack .top {
    color: white;
}

.fa-stack .medium {
    color      : black;
    text-shadow: 0 0 .25em #666;
}

.fa-stack .bottom {
    color: rgba(225, 225, 225, .75);
}

/* Keyframing de la animación */

@keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }

    50% {
        color: rgba(225, 225, 225, 0.25);
    }

    100% {
        color: rgba(225, 225, 225, .75);
    }
}

@-moz-keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }

    50% {
        color: rgba(225, 225, 225, 0.25);
    }

    100% {
        color: rgba(225, 225, 225, .75);
    }
}

@-webkit-keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }

    50% {
        color: rgba(225, 225, 225, 0.25);
    }

    100% {
        color: rgba(225, 225, 225, .75);
    }
}

@-ms-keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }

    50% {
        color: rgba(225, 225, 225, 0.25);
    }

    100% {
        color: rgba(225, 225, 225, .75);
    }
}

/***** subir archivo estudiante******/
.margin-tbe {
    margin: 2rem auto;

}

.contenido-centradoe {
    max-width  : 30rem;
    /*margin   : auto auto;*/

}

.btn-sample {
    color           : #ffffff;
    background-color: rgb(175, 27, 189);
    border-color    : rgb(84, 2, 105);
}


/* Estilo del área del input[file] */
.drag-drope {
    height          : 8em;
    width           : 8em;
    background-color: #ccc;
    border-radius   : 4em;
    text-align      : center;
    color           : white;
    position        : relative;
    margin          : 0 auto 1em;
}

.drag-drope span.desc {
    display  : block;
    font-size: .7em;
    padding  : 0 .5em;
    color    : rgb(0, 0, 0);
}

input[type="file"] {
    height  : 10em;
    opacity : 0;
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    z-index : 3;
}

/* Estilo del área del input[file] con :hover */

.drag-drope:hover,
input[type="file"]:hover {
    background-color: #6932b1;
    cursor          : pointer;
}

.drag-drope:hover span.desc {
    color: #fff;
}

.drag-drope:hover .pulsating {
    animation                  : pulse1 1s linear infinite;
    animation-direction        : alternate;
    -webkit-animation          : pulse1 1s linear infinite;
    -webkit-animation-direction: alternate;
}


/**** fin subir archivo estudiante****/


/**********Sobre Nosotros****************/
.personal {
    border    : 2px solid #f2f2f2;
    padding   : 30px 30px 30px 30px;
    float     : left;
    width     : 100%;
    position  : relative;
    text-align: center;
}

@media screen and (max-width: 1992px) {
    .personal {
        margin-top   : 6.5em;
        margin-bottom: 0.5em;
    }
}

.personal figure {
    position     : absolute;
    margin-top   : -90px;
    top          : 0;
    left         : 50%;
    margin-left  : -60px;
    display      : block;
    margin-bottom: 50px;
}

.personal figure img {
    width                : 120px;
    border               : 2px solid #f2f2f2;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    border-radius        : 50%;
}

.personal h3 {
    margin-bottom: 0px;
}

.personal .fh5co-position {
    color        : #b3b3b3;
    display      : block;
    margin-bottom: 20px;
}

/*********Sobre Nosotros End************/

/**********info contacto****************/
.info-contacto {
    padding      : 30px 30px 30px 30px;
    float        : left;
    width        : 100%;
    position     : relative;
    margin-top   : 6.5em;
    margin-bottom: 0.5em;
    text-align   : center;
}

/*********info contacto End************/




/*  F O O T  E R */
.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding   : 120px 0px 270px;
    position  : relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top   : 5px;
    padding-bottom: 50px;
}

.footer_bottom {
    font-size  : 14px;
    font-weight: 300;
    line-height: 20px;
    color      : #7f88a6;
    padding    : 27px 0px;
}

.new_footer_top .company_widget p {
    font-size    : 16px;
    font-weight  : 300;
    line-height  : 28px;
    color        : #6a7695;
    margin-bottom: 20px;
}

.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top  : 20px;
}

.btn_get_two:hover {
    background: transparent;
    color     : #5e2ced;
}

.btn_get:hover {
    color             : #fff;
    background        : #6754e2;
    border-color      : #6754e2;
    -webkit-box-shadow: none;
    box-shadow        : none;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline        : none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}

.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}

.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}

.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}

.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}

.new_footer_top .f_social_icon a {
    width      : 44px;
    height     : 44px;
    line-height: 43px;
    background : transparent;
    border     : 1px solid #e2e2eb;
    font-size  : 24px;
}

.f_social_icon a {
    width             : 46px;
    height            : 46px;
    border-radius     : 50%;
    font-size         : 14px;
    line-height       : 45px;
    color             : #858da8;
    display           : inline-block;
    background        : #ebeef5;
    text-align        : center;
    -webkit-transition: all 0.2s linear;
    -o-transition     : all 0.2s linear;
    transition        : all 0.2s linear;
}

.ti-facebook:before {
    content: "\e741";
}

.ti-twitter-alt:before {
    content: "\e74b";
}

.ti-vimeo-alt:before {
    content: "\e74a";
}

.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow        : none;
    background        : #5e2ced;
    border-color      : #5e2ced;
    color             : #fff;
}

.btn_get_two:hover {
    background: transparent;
    color     : #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background  : #5e2ced;
    border-color: #5e2ced;
    color       : white;
}

.new_footer_top .f_social_icon a+a {
    margin-left: 4px;
}

.new_footer_top .f-title {
    margin-bottom: 30px;
    color        : #263b5e;
}

.f_600 {
    font-weight: 600;
}

.f_size_18 {
    font-size: 18px;
}



.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position  : absolute;
    bottom    : 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width     : 100%;
    height    : 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    /*background       : url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    */
    width            : 330px;
    height           : 105px;
    background-size  : 100%;
    position         : absolute;
    bottom           : 0;
    left             : 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation        : myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    /*
    background       : url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
   */
    width            : 88px;
    height           : 100px;
    background-size  : 100%;
    bottom           : 0;
    left             : 38%;
    position         : absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation        : myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }

    100% {
        left: 100%;
    }
}

/*************footer End*****************/