:root {
    --rosita       : #ef96f7;
    --anchoPantalla: 120rem;
    --gris         : #757575;
}


html {
    font-size : 62.5%;
    /* Reset para REMS - 62.5% = 10px de 16px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    font-size  : 1.6rem;
    line-height: 2;
}

.webp .banner-index {
    background-image   : url(../img/GALA.webp);
    height             : 100vh;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
    width              : 100%;
}

.no-webp .banner-index {
    background-image   : url(../img/GALA.png);
    height             : 100vh;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
    width              : 100%;
}

/**  GLOBALES   **/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

li,
ul {
    list-style: none;
}

/* Utilidades */

.mayusculas {
    text-transform: uppercase;
}

.contenido-centrado {
    max-width: 40rem;
    margin   : auto auto;
}

.centrar-texto {
    text-align: center;
}

.margin-tb {
    margin: 5rem auto;
}

/* PARTICULARES */

.descripcion-header,


p.descripcion-header {
    color: #d0b3c7;
}

.img-audio,
.img-video {
    max-width: 80%;
    padding  : 3rem;

}

.inComentario {
    width : 80%;
    height: 50%;
}

/* A L E R T A S */

p.error-credenciales {
    color           : white;
    position        : absolute;
    font-size       : 3rem;
    margin          : 0 auto;
    text-align      : center;
    background-color: red;
    width           : 100%;
    margin-top      : 12rem;
    z-index         : 1000000000000;
}


/* NAV-PRINCIPAL*/

.logo-menu {
    margin    : 1rem 0;
    min-height: auto;
}

.contenedor-menu {
    max-width: 85%;
    margin   : 0 auto;
}

.contenedor-nav {
    margin: auto auto;
}

.redes-busqueda-tienda a {
    font-size: 2.3rem;
}

.nav-link {
    color: var(--gris);
}


/** ENCABEZADO **/

h2.presentacion {
    font-size: 8rem;
    color    : white;
}

.col-md-6 h4 {
    font-size: 2rem;
    color    : rgba(255, 255, 255, 0.781);
}

.col-md-6 p {
    color: rgba(255, 255, 255, 0.5);
}

.efectito {
    display            : block;
    position           : absolute;
    top                : auto;
    left               : 0;
    width              : 100%;
    height             : 100%;
    content            : ' ';
    z-index            : 2;
    backface-visibility: hidden;
}

div.hero {
    background-image     : url(../img/index/banner/ban.jpg);
    background-attachment: scroll;
    height               : 100vh;
    background-position  : center;
    background-size      : cover;
}


.contenido-header {
    margin : 5rem 0;
    z-index: 100000;
}


@media (min-width: 768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

/*Iconos del Header*/
.site-header .iconify {
    color    : white;
    font-size: 5rem;
}

/* Botoncito transcriptor*/

.btn-alumno,
.btn-transcriptor {
    -webkit-border-radius: 28;
    -moz-border-radius   : 28;
    border-radius        : 28px;
    font-size            : 1.7rem;
    margin               : 4rem 0;
    padding              : 1rem 3rem;
}

@media (max-width: 768px) {

    .btn-alumno,
    .btn-transcriptor {
        margin: 6rem 0;
    }

}


.btn-transcriptor {
    background-color: var(--rosita) !important;
    border-color    : var(--rosita) !important;
}

/* Login */
.flex {
    display        : flex;
    justify-content: center;
    gap            : .5rem;
}

.font-2rem {
    font-size: 1.7rem;
}

.btn-modificado {
    border-radius: .5rem;
    padding      : 1rem 2rem;
    width        : 100%;
}

/* LOGIN AND REGISTRO */
.IMGlogReg {
    margin: 0 auto;
    width : 50%;
}